
h1 {
    margin-bottom: 25px;
}

.button {
    display: inline-block;
    margin: 20px;
    padding: 20px 40px;
    font-size: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.back-link {
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
    text-decoration: none;
    color: #007BFF;
}

.back-link:hover {
    text-decoration: underline;
}